<div class="emp-card-container">

     <div class="img-container">
     	<img class="emp-photo-img" src= "{{url}}"/>
     </div>
    	  <div class="caption">
       	  	{{caption}} 
	  </div>
				
</div>
