<!--Modal for Adding Job Listing-->
	<div id="modal-background" class="hidden"></div>

		<div id="job-listing-modal" class="hidden">
			<div class="modal-dialog-box">
				<div class="modal-header">
					<h3>Add Job Listing</h3>
					<button type="button" class="modal-close">&#x274C;</button>
				</div>
				<div class="modal-body">
					<div class="text-input-element">
						<label for="img-url">Picture (url):</label>
						<input type="text" id="img-url-input">
					</div>
				
					<div class="text-input-element">
						<p>Job description: </p>
						<textarea id="job-description-input"></textarea>
					</div>
	
				</div>

				<div class="modal-footer">
					<button type="button" class="modal-cancel">Cancel</button>
					<button type="button" class="modal-post">Post</button>
				</div>
			</div>
		</div>


