<div id="application-modal" class="hidden">
	<div class="modal-dialog-box">
		<div class="modal-header">
			<h3>Apply for this position</h3>
				<button type="button" class="modal-close">&#x274C;</button>
		</div>

		<div class="modal-body">
			<div class="text-input-element">
				<label for="applicant-name">Name</label>
				<input type="text" id="applicant-name-input">
			</div>
				
			<div class="text-input-element">
				<p>Why do you want to join the Empire? </p>
				<textarea id="why-join-input"></textarea>
			</div>
	
			<div class="text-input-element">
				<p id="modal-mult-question">What is the airspeed velocity of an unladen sparrow? <BR>
					<input type="radio" name="q1" value="ans1">5m/s<BR>
					<input type="radio" name="q1" value="ans2">Faster than a jump to hyperspace<BR>
					<input type="radio" name="q1" value="ans3">Hm...I don't know<BR>
					<input type="radio" name="q1" value="ans4">African or European?<BR>
				</p>
			</div>
					
		</div>

		<div class="modal-footer">
			<button type="button" class="modal-cancel">Cancel</button>
			<button type="button" class="modal-submit">Submit</button>
		</div>
	</div>

</div>
