<header>
	<h1> {{pageTitle}} </h1>
</header>

<nav class="navbar">
	<ul class="navlist">
             <li class="navitem navlink"><a href="/">Home</a></li>
             <li class="navitem navlink"><a href="/News">News</a></li>
             <li class="navitem navlink"><a href="/Job-Openings">Job Openings</a></li>
             <li class="navitem navlink"><a href="/About">About Us</a></li>
	</ul>
</nav>
		
