<header>
	<h1> {{pageTitle}} </h1>
</header>

<nav class="navbar">
	<ul class="navlist">
             <li class="navitem navlink"><a href="./index.html">Home</a></li>
             <li class="navitem navlink"><a href="./news.html">News</a></li>
             <li class="navitem navlink"><a href="./job_openings.html">Job Openings</a></li>
             <li class="navitem navlink"><a href="./about.html">About Us</a></li>
	</ul>
</nav>
		
