<section class="job_listing">
	<div class="img_container">
               <h4 id="{{title}}">{{title}}</h4>
			{{url}}
		<div class="apply-button-modal" class="hidden">
			<div class="apply-button-container">
				<button type="button" class="apply-button">Apply Now!</button>
			</div>
		</div>
	</div>
	<div class="job_description">
		{{description}}
	</div>
</section>
