<div class="pic-overlay">
    <h2>Patrolling the Universe to Keep You Safe</h2>
</div>
<img class="mySlides" src="troopers.jpg" />
<img class="mySlides" src="ships.jpg" />
<img class="mySlides" src="atat.jpg" />
<img class="mySlides" src="flag.jpg" />
