<header>
    <h1>The Galactic Empire</h1>
</header>

<nav class="navbar">
    <ul class="navlist">
        <li class="navitem navlink"><a href="./index.html">Home</a></li>
        <li class="navitem navlink"><a href="./news.html">News</a></li>
        <li class="navitem navlink"><a href="./job_openings.html">Job Openings</a></li>
        <li class="navitem navlink"><a href="./about.html">About Us</a></li>
    </ul>
</nav>

<div class="pic-overlay">
    <h2>Patrolling the Universe to Keep You Safe</h2>
</div>
<img class="mySlides" src="troopers.jpg" />
<img class="mySlides" src="ships.jpg" />
<img class="mySlides" src="atat.jpg" />
<img class="mySlides" src="flag.jpg" />
