{{>header}}
<h2>About Us</h2>
	    <p>
            The Galactic Empire is committed to maintaining peace and order throughout the galaxy. At it's core, it holds the wants and needs of its citizens. A citizen of the
            Empire is a happy citizen.
        </p>
<main class=container>

	{{#each people}}
		{{>aboutCard}}
	{{/each}}

</main>
